div.cyclist:hover .pager {
	display: block;
}

div.cyclist a.pager {
	display: none;
	height: 64px;
	position: absolute;
	z-index: 10;
	background: rgba(255, 255, 255, 0.5);
	width: 48px;
	color: black;
	line-height: 64px;
	text-align: center;
	top: 50%;
	box-shadow: 0 0 7px white;
	text-decoration: none;
	font-weight: bold;
	font-size: 32px;
	font-family: sans-serif;
}

div.cyclist a.pager:hover {
	background: rgba(255,255,255,0.8);
	color: red;
}

div.cyclist a#cyclist-next {
	right: 0;
	border-radius: 64px 0 0 64px;
	text-indent: 10px;
}
div.cyclist a#cyclist-prev {
	border-radius: 0 64px 64px 0;
	text-indent: -10px;
}
